@import url("https://cdn.rawgit.com/Brotat0/mahcss/d3e74abe/asdjljsfdg.css");
@import url("https://rawgit.com/Brotat0/klepsimo/master/klepsimo_001.css");
@import url("https://rawgit.com/DioSini/mahcss/master/dubcss_002_012.css");
@import url("https://rawgit.com/Brotat0/klepsimo/master/klepsimo_playlist.css");
@import url("https://rawgit.com/Brotat0/mahcss/master/noroletest.css");
@import url("https://rawgit.com/Brotat0/klepsimo/master/klepsimo_player-controller.css");
@import url("https://rawgit.com/DioSini/mahcss/master/queuebutton.css");


#chat .chat-container .chat-messages .chat-main li.user-580f434c9b89911a0009114e .username .user-role-icon,
#main_avatar_room #main-user-list-room #avatar-list LI.user-580f434c9b89911a0009114e  .user-role-icon
{
    background-image: url(http://i.imgur.com/LxVj1n5.png);
    display: inline-block;
}

#chat .chat-container .chat-messages .chat-main li.resident-dj .username .user-role-icon,
#main_avatar_room #main-user-list-room #avatar-list LI.resident-dj  .user-role-icon
{
    background-image: url(http://i.imgur.com/Qi5HlNO.png);
    display: inline-block;
}

#chat .chat-container .chat-messages .chat-main li.vip .username .user-role-icon,
#main_avatar_room #main-user-list-room #avatar-list LI.vip  .user-role-icon
{
    background-image: url(http://i.imgur.com/5L9lycE.png);
    display: inline-block;
}

#chat .chat-container .chat-messages .chat-main li.mod .username .user-role-icon,
#main_avatar_room #main-user-list-room #avatar-list LI.mod  .user-role-icon
{
    background-image: url(http://i.imgur.com/J1OIsf1.png);
    display: inline-block;
}

#chat .chat-container .chat-messages .chat-main li.manager .username .user-role-icon,
#main_avatar_room #main-user-list-room #avatar-list LI.manager  .user-role-icon
{
    background-image: url(http://i.imgur.com/EGS5d0u.png);
    display: inline-block;
}

#chat .chat-container .chat-messages .chat-main li.co-owner .username .user-role-icon,
#main_avatar_room #main-user-list-room #avatar-list LI.co-owner  .user-role-icon
{
    background-image: url(http://i.imgur.com/3MlQIXk.png);
    display: inline-block;
}
#chat .chat-container .chat-messages .chat-main li.creator .username .user-role-icon,
#main_avatar_room #main-user-list-room #avatar-list LI.creator  .user-role-icon
{
    background-image: url(http://i.imgur.com/tTtPrAZ.png);
    display: inline-block;
}

#chat .chat-container .chat-messages .chat-main li.admin .username .user-role-icon,
#main_avatar_room #main-user-list-room #avatar-list LI.admin  .user-role-icon
{
    background-image: url(http://i.imgur.com/9OYSGX5.png);
    display: inline-block;
}






#main_avatar_room #main-user-list-room #avatar-list li.dj .username {
	color: #1687ff !important;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.dj .username {
	color: #1687ff;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.dj .user-role {
        color:#1687ff;
	font-family: "Times New Roman", sans-serif!important;
}

#main_avatar_room #main-user-list-room #avatar-list li.dj .user-role {
	color: #1687ff !important;
	font-family: "Times New Roman", sans-serif!important;
}

#main_avatar_room #main-user-list-room #avatar-list li.resident-dj .username {
	color: #e2440b !important;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.resident-dj .username {
	color:  #e2440b;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.resident-dj .user-role {
        color:#e2440b;
	font-family: "Times New Roman", sans-serif!important;
}

#main_avatar_room #main-user-list-room #avatar-list li.resident-dj .user-role {
	color: #e2440b !important;
	font-family: "Times New Roman", sans-serif!important;
}



#main_avatar_room #main-user-list-room #avatar-list li.vip .username {
	color: #71f442 !important;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.vip .username {
        color:#71f442;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.vip .user-role {
        color:#71f442;
	font-family: "Times New Roman", sans-serif!important;
}

#main_avatar_room #main-user-list-room #avatar-list li.vip .user-role {
	color: #71f442 !important;
	font-family: "Times New Roman", sans-serif!important;
}



#chat .chat-container .chat-messages .chat-main li.mod .username {
	color: #d3f28c !important;
	font-family: "Times New Roman", sans-serif!important;
}

#main_avatar_room #main-user-list-room #avatar-list li.mod .username {
	color: #d3f28c;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.mod .user-role {
	color:#d3f28c;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.mod .user-role {
	color: #d3f28c !important;
	font-family: "Times New Roman", sans-serif!important;
}



#main_avatar_room #main-user-list-room #avatar-list li.manager .username {
	color: #df92e5;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.manager .user-role {
    color:#df92e5;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.manager .username {
	color: #df92e5; 
	font-family: "Times New Roman", sans-serif!important
}

#main_avatar_room #chat-user-list-room #avatar-list li.manager .user-role{
	color: #df92e5;
	font-family: "Times New Roman", sans-serif!important;
}



#chat .chat-container .chat-messages .chat-main li.co-owner .user-role {
        color:#ff162a;
	font-family: "Times New Roman", sans-serif!important;
}

#main_avatar_room #main-user-list-room #avatar-list li.co-owner .username {
	color: #ff162a;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.co-owner .username {
	color: #ff162a; 
	font-family: "Times New Roman", sans-serif!important
}

#main_avatar_room #chat-user-list-room #avatar-list li.co-owner .user-role{
	color: #ff162a;
	font-family: "Times New Roman", sans-serif!important;
}



#chat .chat-container .chat-messages .chat-main li.creator .user-role {
        color:#d20000;
	font-family: "Times New Roman", sans-serif!important;
}

#main_avatar_room #main-user-list-room #avatar-list li.creator .username {
	color: #d20000;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.creator .username {
	color: #d20000; 
	font-family: "Times New Roman", sans-serif!important
}

#main_avatar_room #chat-user-list-room #avatar-list li.creator .user-role{
	color: #d20000;
	font-family: "Times New Roman", sans-serif!important;
}


#main_avatar_room #main-user-list-room #avatar-list li.admin .username {
	color: #e04af7 !important;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.admin .username {
	color: #e04af7;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.admin .user-role {
        color:#e04af7;
	font-family: "Times New Roman", sans-serif!important;
}

#main_avatar_room #main-user-list-room #avatar-list li.admin .user-role {
	color: #e04af7 !important;
	font-family: "Times New Roman", sans-serif!important;
}



#main_player .player_header span.skip-el {
   	float: right;
    	margin-right: 10px;
    	color: white;
	background-color: red;
	font-family: Helvetica;
	border: 0.5px solid #ffffff;
}

#chat .chat-container .chat-messages .chat-main li.admin .username:first-child:after
{
    margin-left: .25rem;    
    transition-property: opacity;
    opacity: 0;
    font-size: smaller;
    content: "dubgod";
}
#chat .chat-container .chat-messages .chat-main li.admin .username:hover:first-child:after
{
    transition-property: opacity;
    opacity: 0.8;
}

#main_avatar_room #main-user-list-room #avatar-list li.admin  .username:after 
{
    margin-left: .25rem;    
    transition-property: opacity;
    font-weight: normal;
    opacity: 0.8;
    content: "dubgod";
}
#main_avatar_room #main-user-list-room #avatar-list li.admin .username:hover:after
{
    transition-property: opacity;
    opacity: 1;
}

#chat .chat-container .chat-messages .chat-main li.creator .username:first-child:after
{
    margin-left: .25rem;    
    transition-property: opacity;
    opacity: 0;
    font-size: smaller;
    content: "owner";
}
#chat .chat-container .chat-messages .chat-main li.creator .username:hover:first-child:after
{
    transition-property: opacity;
    opacity: 0.8;
}

#main_avatar_room #main-user-list-room #avatar-list li.creator  .username:after 
{
    margin-left: .25rem;    
    transition-property: opacity;
    font-weight: normal;
    opacity: 0.8;
    content: "owner";
}
#main_avatar_room #main-user-list-room #avatar-list li.creator .username:hover:after
{
    transition-property: opacity;
    opacity: 1;
}

#chat .chat-container .chat-messages .chat-main li.co-owner .username:first-child:after
{
    margin-left: .25rem;    
    transition-property: opacity;
    opacity: 0;
    font-size: smaller;
    content: "co-owner";
}
#chat .chat-container .chat-messages .chat-main li.co-owner .username:hover:first-child:after
{
    transition-property: opacity;
    opacity: 0.8;
}

#main_avatar_room #main-user-list-room #avatar-list li.co-owner  .username:after 
{
    margin-left: .25rem;    
    transition-property: opacity;
    font-weight: normal;
    opacity: 0.8;
    content: "co-owner";
}
#main_avatar_room #main-user-list-room #avatar-list li.co-owner .username:hover:after
{
    transition-property: opacity;
    opacity: 1;
}

#chat .chat-container .chat-messages .chat-main li.manager .username:first-child:after
{
    margin-left: .25rem;    
    transition-property: opacity;
    opacity: 0;
    font-size: smaller;
    content: "manager";
}
#chat .chat-container .chat-messages .chat-main li.manager .username:hover:first-child:after
{
    transition-property: opacity;
    opacity: 0.8;
}

#main_avatar_room #main-user-list-room #avatar-list li.manager  .username:after 
{
    margin-left: .25rem;    
    transition-property: opacity;
    font-weight: normal;
    opacity: 0.8;
    content: "manager";
}
#main_avatar_room #main-user-list-room #avatar-list li.manager .username:hover:after
{
    transition-property: opacity;
    opacity: 1;
}

#chat .chat-container .chat-messages .chat-main li.mod .username:first-child:after
{
    margin-left: .25rem;    
    transition-property: opacity;
    opacity: 0;
    font-size: smaller;
    content: "moderator";
}
#chat .chat-container .chat-messages .chat-main li.mod .username:hover:first-child:after
{
    transition-property: opacity;
    opacity: 0.8;
}

#main_avatar_room #main-user-list-room #avatar-list li.mod  .username:after 
{
    margin-left: .25rem;    
    transition-property: opacity;
    font-weight: normal;
    opacity: 0.8;
    content: "moderator";
}
#main_avatar_room #main-user-list-room #avatar-list li.mod .username:hover:after
{
    transition-property: opacity;
    opacity: 1;
}

#chat .chat-container .chat-messages .chat-main li. .username:first-child:after
{
    margin-left: .25rem;    
    transition-property: opacity;
    opacity: 0;
    font-size: smaller;
    content: "VIP";
}
#chat .chat-container .chat-messages .chat-main li.vip .username:hover:first-child:after
{
    transition-property: opacity;
    opacity: 0.8;
}

#main_avatar_room #main-user-list-room #avatar-list li.vip  .username:after 
{
    margin-left: .25rem;    
    transition-property: opacity;
    font-weight: normal;
    opacity: 0.8;
    content: "VIP";
}
#main_avatar_room #main-user-list-room #avatar-list li.vip .username:hover:after
{
    transition-property: opacity;
    opacity: 1;
}

#chat .chat-container .chat-messages .chat-main li.resident-dj .username:first-child:after
{
    margin-left: .25rem;    
    transition-property: opacity;
    opacity: 0;
    font-size: smaller;
    content: "resident-dj";
}
#chat .chat-container .chat-messages .chat-main li.resident-dj .username:hover:first-child:after
{
    transition-property: opacity;
    opacity: 0.8;
}

#main_avatar_room #main-user-list-room #avatar-list li.resident-dj  .username:after 
{
    margin-left: .25rem;    
    transition-property: opacity;
    font-weight: normal;
    opacity: 0.8;
    content: "resident-dj";
}

#chat .chat-container .chat-messages .chat-main li.dj .username:first-child:after
{
    margin-left: .25rem;    
    transition-property: opacity;
    transition-duration: .25s;
    opacity: 0;
    font-size: smaller;
    content: "member";
}
#chat .chat-container .chat-messages .chat-main li.dj .username:hover:first-child:after
{
    transition-property: opacity;
    transition-duration: .25s;
    opacity: 0.8;
}

#main_avatar_room #main-user-list-room #avatar-list LI.dj  .username:after 
{
    margin-left: .25rem;    
    transition-property: opacity;
    transition-duration: .5s;
    font-weight: normal;
    opacity: 0.8;
    content: "member";
}
#main_avatar_room #main-user-list-room #avatar-list LI.dj .username:hover:after
{
    transition-property: opacity;
    transition-duration: .5s;
    opacity: 1;
}

#chat .chat-container .chat-messages .chat-main li .username:first-child:after
{
    margin-left: .25rem;    
    transition-property: opacity;
    opacity: 0;
    font-size: smaller;
    content: "newbie";
}
#chat .chat-container .chat-messages .chat-main li .username:hover:first-child:after
{
    transition-property: opacity;
    transition-duration: .25s;
    opacity: 0.8;
}

#main_avatar_room #main-user-list-room #avatar-list LI  .username:after 
{
    margin-left: .25rem;    
    transition-property: opacity;
    font-weight: normal;
    opacity: 0.8;
    content: "newbie";
}
#main_avatar_room #main-user-list-room #avatar-list LI .username:hover:after
{
    transition-property: opacity;
    opacity: 1;
}


#main-room .right_section {
    background: rgba(15,15,15,0.66);
    border-radius: 0rem 0rem 0rem 0rem;
    border: 1px solid #878c8e;
}